<% include partials/splash_header.ejs %>

  <div class="app">
    <h1>Login Page</h1>
    <% if(locals.errors) { %>
      <ul class="login-errors">
        <% errors.forEach(function(err) { %>
          <li><%= err %></li>
        <% }) %>
      </ul>
    <% } %>
    if(locals.success) {
      <p id="signup_success"><%= locals.success %></p>
    }
    <!-- TODO: make these fields required -->
    <form action="/login" method="post">
      <label for="emailInput">Email:</label>
      <input type="email" name="email" id="emailInput">

      <label for="passwordInput">Password:</label>
      <input type="password" name="password" id="passwordInput">

      <button type="submit">Login</button>
    </form>
  </div>

<% include partials/splash_footer.ejs %>
