<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<title>Update Listing</title>
</head>
<body>

	<% include partials/dash_navbar.ejs %>

	<div class="container">
		<form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
			<div class="row">
				<div class="form-group col-md-8">
					<label for="titleInput">Title</label>
					<input type="text" class="form-control" name="title" value="<%= listing.title %>" id="titleInput" required>
				</div>
			</div>
			<div class="form-row">
					<div class="form-group col-md-3">
						<label for="typeInput">Select Type</label>
						<select class="form-control" id="typeInput" name="type">
							<% if(listing.type === 'LONG_TERM') { %>	
								<option value="LONG_TERM" selected>long term</option>
							<% } else { %>
								<option value="LONG_TERM">long term</option>
							<% }%>

							<% if(listing.type === 'SHORT_TERM') { %>	
								<option value="SHORT_TERM" selected>short term</option>
							<% } else { %>
								<option value="SHORT_TERM">short term</option>
							<% }%>

							<% if(listing.type === 'FULL_TIME') { %>	
								<option value="FULL_TIME" selected>full time</option>
							<% } else { %>
								<option value="FULL_TIME">full time</option>
							<% }%>
						</select>
					</div>
					<div class="form-group col-md-3">
						<label for="languageInput">Select Language</label>
						<select class="form-control" id="languageInput" name="lang">
							<% if(listing.lang === 'GO') { %>
								<option value="GO" selected>Go</option>
							<% } else { %>
								<option value="GO">Go</option>
							<% } %>

							<% if(listing.lang === 'PYTHON') { %>
								<option value="PYTHON" selected>Python</option>
							<% } else { %>
								<option value="PYTHON">Python</option>
							<% } %>

							<% if(listing.lang === 'JAVASCRIPT') { %>
								<option value="JAVASCRIPT" selected>Javascript</option>
							<% } else { %>
								<option value="JAVASCRIPT">Javascript</option>
							<% } %>

							<% if(listing.lang === 'C++') { %>
								<option value="C++" selected>C++</option>
							<% } else { %>
								<option value="C++">C++</option>
							<% } %>

							<% if(listing.lang === 'ELM') { %>
								<option value="ELM" selected>Elm</option>
							<% } else { %>
								<option value="ELM">Elm</option>
							<% } %>

							<% if(listing.lang === 'C') { %>
								<option value="C" selected>C</option>
							<% } else { %>
								<option value="C">C</option>
							<% } %>

							<% if(listing.lang === 'RUBY') { %>
								<option value="RUBY" selected>Ruby</option>
							<% } else { %>
								<option value="RUBY">Ruby</option>
							<% } %>
						</select>
					</div>
			</div>
			<div class="row">
				<div class="form-group col-md-10">
					<label for="descInput">Description</label>
					<textarea class="form-control" id="descInput" name="description" rows="9" required><%= listing.description %></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Update</button>
		</form>
	</div>
	<!-- just bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	<script type="text/javascript" src="/js/validateListingParams.js"></script>
	<style type="text/css">
		form {
			padding-top: 10px;
		}
	</style>
</body>
</html>